.header {
    display: flex;
    justify-content: space-around;
}
.content {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}
.player {
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}

#football {
    max-width: 65px;
    position: relative;
    right: 280px;
    top: -46px;
}